@model MongoDbProject.Dtos.OrderDtos.CreateOrderDto
@{
    ViewData["Title"] = "CreateOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Yeni Sipariş ekleme</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tbody>
                        <form method="post">
                            <div class="container">
                                <br /><br />
                                <label>Ürün Adını seçin</label>
                                    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.Product, "Seçiniz...", new { @class = "form-control" })
                                <br />
                                <label>Ürün Adet</label>
                                <input type="text" asp-for="OrderProductPiece" class="form-control" />
                                <br />
                                <label>Müşteri Seçiniz</label>
                                    @Html.DropDownListFor(x => x.CustomerId, (List<SelectListItem>)ViewBag.Customers, "Seçiniz...", new { @class = "form-control" })
                                <br />
                                <label>Sipariş Tarihi</label>
                                <input type="text" asp-for="OrderDate" class="form-control" />
                                <br />
                                <button type="submit" class="btn btn-primary">Sipariş Ekle</button>
                                <br /><br />
                            </div>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

