﻿﻿<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Brand -->
        <h2></h2>
        <h3>Admin Paneli</h3>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Navigation -->
            <ul class="navbar-nav">
                <li class="nav-item  active ">
                    <a class="nav-link " href="../index.html">
                        <i class="ni ni-tv-2 text-primary"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/Admin/About/AboutList">
                        <i class="ni ni-badge text-orange"></i> Hakkımızda
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link  active " href="/Product/ProductList">
                        <i class="ni ni-bullet-list-67 text-red"></i> Ürün Listesi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/CategoryList">
                        <i class="ni ni-books text-pink"></i> Kategori Listesi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Customer/CustomerList">
                        <i class="ni ni-single-02 text-blue"></i> Müşteri Listesi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Order/OrderList">
                        <i class="ni ni-cart text-gray-dark"></i> Sipariş Listesi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Login/LogOut">
                        <i class="ni ni-button-power text-black"></i> Çıkış Yap
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
