
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadComponentPartial")

<body class="">
    @await Component.InvokeAsync("_SidebarComponentPartial")
    <div class="main-content">
        @await Component.InvokeAsync("_NavbarComponentPartial")
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">

                    <div class="row">
                        <div class="col-xl-3 col-lg-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt--7">
            @RenderBody()
            @await Component.InvokeAsync("_FooterComponentPartial")
        </div>
    </div>
    @await Component.InvokeAsync("_ScriptComponentPartial")
</body>

</html>