@{
    ViewData["Title"] = "ExcelList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları Sayfası</h1>
<br />
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <br /><br />
                <h3 class="mb-0">Aşağıdaki butona tıklayarak ürün listesini excel dosyası olarak bilgisayarınıza indirebilirsiniz.</h3>
            </div>
            <a href="/Excel/ProductWithCategoryList/" class="btn btn-outline-primary">Ürün Listesi Excel Raporu</a>
            <br /><br /> <br />
        </div>

    </div>
</div>