
@{
    ViewData["Title"] = "PdfList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporları Sayfası</h1>
<br />
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <br /><br />
                <h3 class="mb-0">Aşağıdaki butona tıklayarak sipariş listesini pdf dosyası olarak bilgisayarınıza indirebilirsiniz.</h3>
            </div>
            <a href="/Pdf/GetOrderWithCustomerList/" class="btn btn-outline-primary">Sipariş Listesi Pdf Raporu</a>
            <br /><br /> <br />
        </div>

    </div>
</div>

